# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
.eggs/
*.egg-info/

# Virtual env
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*
!.env.example
!.env.dev.example
!.env.prod.example
